<div class="dashhead m-t">
  <div class="dashhead-titles">
    <h6 class="dashhead-subtitle"></h6>
    <h2 class="dashhead-title">Box Types</h2>
  </div>
  <div class="text-xs-right">
    <div class='btn-group btn-group-header'>
      <%= link_to new_box_type_path, :class => 'btn btn-primary-outline', 'data-turbolinks' => false do %>
        <%= icon('plus') %>
      <% end %>
    </div>
  </div>
</div>
<%= render 'snippets/flash_messages' %>
<div class='row m-t'>
  <% @box_types.each do |box_type| %>
  <div class='col-sm-4'>
    <ul class="list-group">
    <li class="list-group-header">
      <%= box_type.name.upcase %>
      <%= link_to( icon('edit'),
          edit_box_type_path(box_type),
          class: 'f-r', 'data-turbolinks' => false ) %>
    </li>
    <li class="list-group-item">
      Single Price
      <span class='f-r'>₱ <%= box_type.base_price %></span>
    </li>
    <li class="list-group-item">
      Quarter Box Price
       <span class='f-r'>
        <% unless box_type.name == 'Trial' %>
        ₱ <%= box_type.quarter_price %>.00
        <% else %>
          -
        <% end %>
      </span>
    </li>
    <li class="list-group-item">
      Bi-annual Box Price
      <span class='f-r'>
        <% unless box_type.name == 'Trial' %>
        ₱ <%= box_type.biannual_price %>.00
        <% else %>
          -
        <% end %>
      </span>
    </li>
    <li class="list-group-item">
      Annual Box Price
      <span class='f-r'>
      <% unless box_type.name == 'Trial' %>
        ₱ <%= box_type.annual_price %>.00
        <% else %>
          -
        <% end %>

        </span>
    </li>
    <li class="list-group-item">
      Threshold
      <span class='f-r'>₱ <%= box_type.threshold %></span>
    </li>
    <li class="list-group-item">
      Target Cost
      <span class='f-r'>₱ <%= box_type.target_cost %>.00</span>
    </li>
    <li class="list-group-item">
      Max Item Count
      <span class='f-r'><%= box_type.max_item_count %></span>
    </li>
  </ul>
  </div>
  <% end %>
</div>