<div class="row">
  <div class="col-sm-6">
    <div class="dashhead">
      <div class="dashhead-titles">
        <h2 class="dashhead-title"><%= @period.month_date.strftime('%b %Y') %>
        </h2>
      </div>
    </div>
  </div>
  <div class="col-sm-6 text-xs-right">
    <div class="btn-group btn-group-header">
      <%= link_to new_period_box_path(period_id: @period.id), :class=> 'btn btn-primary-outline' do %>
        <%= icon('archive') %>  Add new box
      <% end %>
      <%= link_to select_items_period_boxes_path(period_id: @period.id), :class=> 'btn btn-primary-outline' do %>
        <%= icon('plus-square') %>  Add items to boxes
      <% end %>
    </div>
  </div>
</div>
<div class='row'>
<div id="subscriber-count-group" class="collapse in">
  <div class='col-sm-12 col-md-6'>
    <ul class="list-group m-t m-b-0">
      <li class="list-group-header">
        Subscriber Count
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-12 table-responsive">
            <table class="table" data-sort="table">
              <thead>
                <tr>
                  <th></th>
                  <th><%= badge_label('Trial') %></th>
                  <th><%= badge_label('Regular') %></th>
                  <th><%= badge_label('Premium') %></th>
                </tr>
              </thead>
              <tbody>
              <tr>
                <td>Forecast</td>
                <% @period.boxes.each do |box| %>
                  <td><%= box.forecast %></td>
                <% end %>
              </tr>
              <tr>
                <td>Actual</td>
                <% @period.boxes.each do |box| %>
                  <td><%= box.try(:actual) %></td>
                <% end %>
              </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td>Difference</td>
                  <% @period.boxes.each do |box| %>
                    <td><%= box.subscriber_difference %></td>
                <% end %>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div id="subscriber-count-group" class="collapse in">
  <div class='col-sm-12 col-md-6'>
    <ul class="list-group m-t m-b-0">
      <li class="list-group-header">
        Box Price
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-12 table-responsive">
            <table class="table" data-sort="table">
              <thead>
                <tr>
                  <th></th>
                  <th><%= badge_label('Trial') %></th>
                  <th><%= badge_label('Regular') %></th>
                  <th><%= badge_label('Premium') %></th>
                </tr>
              </thead>
              <tbody>
              <tr>
                <td>Cost</td>
                <% @period.boxes.each do |box| %>
                  <td><%= humanized_money_with_symbol box.total_cost %></td>
                <% end %>
              </tr>
              <tr>
                <td>Target</td>
                <% @period.boxes.each do |box| %>
                  <td><%= humanized_money_with_symbol box.box_type.target_cost %></td>
                <% end %>
              </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td>Difference</td>
                  <% @period.boxes.each do |box| %>
                    <td><%= humanized_money_with_symbol box.cost_difference %></td>
                <% end %>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div id="item-count-group" class="collapse in">
  <div class='col-sm-12 col-md-6'>
  <ul class="list-group m-t m-b-0">
    <li class="list-group-header">
      Item Count
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-sm-12 table-responsive">
          <table class="table" data-sort="table">
            <thead>
              <tr>
                <th>Category name</th>
                <th><%= badge_label('Trial') %></th>
                <th><%= badge_label('Regular') %></th>
                <th><%= badge_label('Premium') %></th>
              </tr>
            </thead>
            <tbody>
          <% @period.categories.each do |category| %>
            <tr>
              <td><%= category.name %></td>
              <% @period.boxes.each do |box| %>
                <td><%= box.item_count_per_category(category.id) %></td>
              <% end %>
            </tr>
            <% end %>
            </tbody>
            <tfoot>
              <tr>
                <td>Total</td>
                <% @period.boxes.each do |box| %>
                  <td><%= box.items.count %></td>
              <% end %>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </li>
  </ul>
  </div>
</div>
</div>