<div class="col-xs-12 col-sm-6 col-md-4 devise sign-up">
  <%= image_tag('logo.png', :class => 'logo') %>
  <h2>Forgot your password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <% unless devise_error_messages!.empty? %>
      <div class="alert alert-danger alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= devise_error_messages! %>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= f.submit "Send me reset password instructions", :class => "btn btn-pill btn-primary" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
