<div class='col-sm-12 col-md-6'>
  <ul class="list-group m-t m-b-0">
    <li class="list-group-header">
      Quick Check
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-sm-12 table-responsive">
          <table class="table" data-sort="table">
            <thead>
              <tr>
                <th></th>
                <th><%= badge_label('Trial') %></th>
                <th><%= badge_label('Regular') %></th>
                <th><%= badge_label('Premium') %></th>
              </tr>
            </thead>
            <tbody>
            <tr>
              <td>Box Cost</td>
              <% @period.boxes.each do |box| %>
                <td><%= humanized_money_with_symbol box.total_cost %></td>
              <% end %>
            </tr>
            <tr>
              <td>Item Count</td>
              <% @period.boxes.each do |box| %>
                <td><%= box.items.count %></td>
              <% end %>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </li>
  </ul>
</div>