<div class="row">
  <div class="col-sm-6">
    <div class="dashhead">
      <div class="dashhead-titles">
        <h6 class="dashhead-subtitle"><%= @period.month_date.strftime('%b %Y') %></h6>
        <h2 class="dashhead-title">Add items to boxes
        </h2>
      </div>
    </div>
  </div>
</div>
<div id="alerts">
  <%= render 'snippets/flash_messages' %>
</div>
<div id="filters-group" class="collapse in">
  <ul class="list-group m-t m-b-0">
    <li class="list-group-header">
      Filters
    </li>
    <li class="list-group-item">
      <div class="row">
        <%= search_form_for @q, url: select_items_period_boxes_path(period_id: @period.id), remote: true do |f| %>
        <div class="col-md-6 col-sm-12">
          <%= f.search_field :description_cont, :class => 'form-control', placeholder: "Search item descriptions" %>
        </div>
        <div class='col-md-4 col-sm-12'>
          <%= f.select :brand_id_eq, Brand.all.collect { |b| [ b.name, b.id]}, {include_blank: true, prompt: 'Filter by brand'}, { :class => 'brand-filter custom-select'} %>
        </div>
        <div class='col-md-2 col-sm-12'>
          <div class='btn-group f-r'>
          <%= f.submit :class => 'btn btn-primary' %>
          <%= link_to icon('repeat'), select_items_period_boxes_path(period_id: @period.id), :class => 'btn btn-primary' %>
          <% end %>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class='row m-t' id='addItemsToBoxes'>
  <%= render 'items' %>
</div>

