<div class="row">
  <div class="col-sm-6">
    <div class="dashhead">
      <div class="dashhead-titles">
        <h6 class="dashhead-subtitle"><%= @period.month_date.strftime('%b %Y') %></h6>
        <h2 class="dashhead-title">Add items to boxes
        </h2>
      </div>
    </div>
  </div>
  <div class="text-xs-right">
    <div class='btn-group btn-group-header'>
      <button type="button" class="btn btn-primary-outline"
        data-toggle="collapse" href="#filters-group"
        aria-expanded="false" aria-controls="filters-group" >
          <%= icon('filter') %>
      </button>
      <button type="button" class="btn btn-primary-outline"
        data-toggle="collapse" href="#counters-group"
        aria-expanded="false" aria-controls="counters-group" >
          <%= icon('bar-chart') %>
      </button>
      <%= link_to period_path(@period.id), :class=> "btn btn-primary-outline" do %>
          <%= icon('arrow-left') %>
      <% end %>
    </div>
  </div>
</div>
<div id="alerts">
  <%= render 'snippets/flash_messages' %>
</div>
<div id="filters-group" class="collapse">
  <%= render 'select_item_filters' %>
</div>
<div id="counters-group" class="collapse row">
  <%= render 'counters_table' %>
</div>
<div class='row m-t' id='addItemsToBoxes'>
  <%= render 'items' %>
</div>

