<div class="row">
  <div class="col-sm-6">
    <div class="dashhead">
      <div class="dashhead-titles">
        <h6 class="dashhead-subtitle">Company</h6>
        <h2 class="dashhead-title"><%= @company.name %> </h2>
      </div>
    </div>
  </div>
  <div class="col-sm-6 text-xs-right">
    <div class="btn-group">
      <%= link_to( icon('edit'),
          edit_company_path(@company),
          class: 'btn btn-primary-outline', 'data-turbolinks' => false ) %>
      <%= link_to( icon('trash'),
          company_path(@company), method: 'DELETE', data: {confirm: "Are you sure you want to delete #{@company.name}?"},
          class: 'btn btn-primary-outline' ) %>
    </div>
  </div>
</div>
<div class="row m-t-md">
  <div class="col-sm-9">
    <div class="statcard statcard-border p-a">
      <span class="statcard-desc">Address</span>
      <h3 class="statcard-number">
        <%= @company.address %>
      </h3>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="statcard statcard-border p-a">
      <span class="statcard-desc">Country</span>
      <h3 class="statcard-number">
        <%= @company.country_name %>
      </h3>
    </div>
  </div>
</div>
<div class='row m-t-md'>
  <div class="col-sm-5">
    <div class="statcard statcard-border p-a">
      <span class="statcard-desc">Email</span>
      <h3 class="statcard-number">
        <%= mail_to @company.email %>
      </h3>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="statcard statcard-border p-a">
      <span class="statcard-desc">Contact person</span>
      <h3 class="statcard-number">
        <%= @company.contact_person %>
      </h3>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="statcard statcard-border p-a">
      <span class="statcard-desc">Skype ID</span>
      <h3 class="statcard-number">
        <%= @company.skype_id? ? @company.skype_id : "-" %>
      </h3>
    </div>
  </div>
</div>
<div class="row m-t-md">
  <div class='col-sm-4'>
    <ul class="list-group">
    <li class="list-group-header">Brands</li>
    <% @company.brands.each do |brand| %>
    <li class="list-group-item"><%= link_to brand.name, brand_path(brand.id) %></li>
    <% end %>
  </ul>
  </div>
</div>