<div class="col-sm-12 table-responsive">
  <table class="table company-table" data-sort="table">
    <thead>
      <tr>
        <th><%= sort_link(@q, :id, "ID") %></th>
        <th><%= sort_link(@q, :brand) %></th>
        <th><%= sort_link(@q, :description) %></th>
        <th>Unit size</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
  <% @items.each do |item| %>
    <tr>
      <td><%= link_to item.id, item_path(item.id) %></td>
      <td><%= item.brand.name %></td>
      <td><%= link_to item.description, item_path(item.id) %></td>
      <td><%= item.unit_size %></td>
      <td><%= link_to icon('edit'), edit_item_path(item.id),'data-turbolinks' => false %></td>
    </tr>
    <% end %>
    </tbody>
  </table>
  <div class='text-center'>
    <%= custom_will_paginate @boxes %>
  </div>
</div>
