<div class="dashhead m-t">
  <div class="dashhead-titles">
    <h6 class="dashhead-subtitle"></h6>
    <h2 class="dashhead-title">Brands</h2>
  </div>
  <div class="text-xs-right">
    <div class='btn-group btn-group-header'>
      <button type="button" class="btn btn-primary-outline"
        data-toggle="collapse" href="#filters-group"
        aria-expanded="false" aria-controls="filters-group" >
          <%= icon('filter') %>
      </button>
      <%= link_to new_brand_path, :class => 'btn btn-primary-outline', 'data-turbolinks' => false do %>
        <%= icon('plus') %>
      <% end %>
    </div>
  </div>
</div>
<%= render 'snippets/flash_messages' %>
<div id="filters-group" class="collapse in">
  <ul class="list-group m-t m-b-0">
    <li class="list-group-header">
      Filters
    </li>
    <li class="list-group-item">
      <div class="row">
        <%= search_form_for @q do |f| %>
        <div class="col-sm-7">
          <%= f.search_field :name_cont, :class => 'form-control', placeholder: "Search brand names" %>
        </div>
        <div class='col-sm-4'>
          <%= f.select :country_eq, Brand.all.collect { |c| [ c.country_name, c.country]}, {include_blank: true, prompt: 'Filter by country'}, { :class => 'country-filter custom-select'} %>
        </div>
        <div class='col-sm-1'>
          <%= f.button icon('search'), :class => 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class='row m-t'>
  <div class="col-sm-12 table-responsive">
    <table class="table company-table" data-sort="table">
      <thead>
        <tr>
          <th><%= sort_link(@q, :name) %></th>
          <th><%= sort_link(@q, :country) %></th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
    <% @brands.each do |brand| %>
      <tr>
        <td><%= link_to brand.name, brand_path(brand.id) %></td>
        <td><%= brand.country_name %></td>
        <td><%= link_to icon('edit'), edit_brand_path(brand.id),'data-turbolinks' => false %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>