<div class="row">
  <div class="col-sm-6">
    <div class="dashhead">
      <div class="dashhead-titles">
        <h6 class="dashhead-subtitle">Brand</h6>
        <h2 class="dashhead-title"><%= @brand.name %> </h2>
      </div>
    </div>
  </div>
  <div class="col-sm-6 text-xs-right">
    <div class="btn-group">
      <%= link_to( icon('edit'),
          edit_brand_path(@brand),
          class: 'btn btn-primary-outline', 'data-turbolinks' => false ) %>
      <%= link_to( icon('trash'),
          brand_path(@brand), method: 'DELETE', data: {confirm: "Are you sure you want to delete #{@brand.name}?"},
          class: 'btn btn-primary-outline' ) %>

    </div>
  </div>
</div>
<div class="row m-t-md">
  <div class="col-sm-6">
    <div class="statcard statcard-border p-a">
      <span class="statcard-desc">Company name</span>
      <h3 class="statcard-number">
        <%= link_to @brand.company.name, company_path(@brand.company.id) %>
      </h3>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="statcard statcard-border p-a">
      <span class="statcard-desc">Source country</span>
      <h3 class="statcard-number">
        <%= @brand.try(:country_name) %>
      </h3>
    </div>
  </div>
</div>
<div class="row m-t-md">
  <div class='col-sm-4'>
    <ul class="list-group">
    <li class="list-group-header">Items</li>
    <% @brand.items.each do |item| %>
    <li class="list-group-item"><%= link_to item_path(item.id) do %>
        <%= item.description %> (<%= item.unit_size %>)
      <% end %>
    </li>
    <% end %>
  </ul>
  </div>
</div>