<!DOCTYPE html>
<html>
  <head>
    <title>Boxmakr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container-fluid">
    <% if user_signed_in? %>
      <%= render 'snippets/sidebar' %>
    <% end %>
    <%= yield %>
    </div>
  </body>
</html>
